--- 
layout: default 
---

<div class="row">
    <div class="col-sm-6 cover">
        <!-- Intentinally left empty -->
    </div>
    <div class="col-sm-6 cover-bio">
        <p>I'm Ed Charbeneau, web enthusiast, speaker, writer, design admirer, and Principal Developer Advocate for Progress.</p>
        <p><a href="/about.html" class="btn btn-secondary">About Me</a></p>
    </div>
</div>

<section class="row post--wrapper">
    <div class="posts col-sm-12 col-lg-8">
        {% for post in paginator.posts %} 
            {% include headline.html %}
        {% endfor %}
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="card card-outline-danger">
            <div class="card-block">
                <h4 class="card-title">Twitch.tv</h4>
                <p class="card-text">Blazor StateHasChanged is your weekly dose of Blazor and Razor Components - community news and live code demos. Each we discuss news topics, view community projects and create something new. Past shows are syndicated on <a href="https://www.youtube.com/edwardcharbeneau">YouTube <i class="fa fa-youtube" aria-hidden="true"></i>.</a></p>
                <a href="https://twitch.tv/edcharbeneau" class="btn btn-danger--inverted">Watch Live <i class="fa fa-twitch" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card card-outline-info">
            <div class="card-block">
                <h4 class="card-title">Podcast</h4>
                <p><strong>Currently on hiatus during the pandemic. For current shows see the Twitch link above.</strong></p>
                <p class="card-text">Software development is my passion, hobby, and career. I love talking to other developers who feel the same, that's why I started Eat Sleep Code. The only Offical Telerik Podcast.</p>
                <a href="https://soundcloud.com/esc-podcast" class="btn btn-info--inverted">Listen (archives) <i class="fa fa-soundcloud" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>

{% include pagnation.html %}