--- 
layout: default 
---

<div class="row">
    <div class="col-sm-6 cover">

    </div>
    <div class="col-sm-6 cover-bio">
        <p>I'm Ed Charbeneau, web enthusiast, speaker, writer, design admirer, and Developer Advocate for Progress.</p>
        <p><a href="/about.html" class="btn btn-secondary">About Me</a></p>
    </div>
</div>

<section class="row post--wrapper">
    <div class="posts col-sm-12 col-md-8">
        {% for post in paginator.posts %} 
            {% include headline.html %}
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card card-outline-info">
        <!--<img class="card-img-top" src="..." alt="Card image cap">-->
        <div class="card-block">
            <h4 class="card-title">Podcast</h4>
            <p class="card-text">Software development is my passion, hobby, and career. I love talking to other developers who feel the same, that's why I started Eat Sleep Code. The only Offical Telerik Podcast.</p>
            <a href="#" class="btn btn-info--inverted">Listen <i class="fa fa-soundcloud" aria-hidden="true"></i></a>
        </div>
        </div>
    </div>
</section>

{% include pagnation.html %}