
/*
    Credit for CSS Solar System
    Rob DiMarzo
    https://www.robdimarzo.com/
    https://codepen.io/robdimarzo/
    https://twitter.com/robdimarzo
    https://codepen.io/robdimarzo/pen/LMOLer
    https://codepen.io/robdimarzo/post/rebuilding-the-solar-system-with-css
*/
:root {
  --mercury-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/mercury2.jpg);
  --mercury-tilt: rotate(0.034deg);
  --mercury-day: 1407.6;
  --mercury-color: #999999;
  --moon-image: url(./img/locations/moon-texture.jpg);
  --moon-tilt: rotate(6.7deg);
  --moon-day: 655.7;
  --moon-color: #999999;
  --venus-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/venus2.jpg);
  --venus-tilt: rotate(177.3deg);
  --venus-day: 5832.5;
  --venus-color: #e8cda2;
  --earth-image: url(./img/locations/earth-texture.jpg);
  --earth-tilt: rotate(23.26deg);
  --earth-day: 23.9;
  --earth-color: #b3caff;
  --mars-image: url(./img/locations/mars-texture.jpg);
  --mars-tilt: rotate(25.2deg);
  --mars-day: 24.6;
  --mars-color: #c07158;
  --planet-size: 50px;
}

@keyframes planetRotate {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}
.planet-wrap {
  width: var(--planet-size);
  height: var(--planet-size);
  position: relative;
  z-index: 999;
}
.planet-wrap--earth .planet__atmosphere {
  --light-crest: inset calc(var(--planet-size) * 0.05) 0px calc(var(--planet-size) * 0.06) -2px rgba(255,255,255,.4);
  --dark-crest: inset calc(var(--planet-size) * -0.40) 0px calc(var(--planet-size) * 0.25) 0px black;
  --atmosphere: -5px 0px 10px -4px var(--earth-color);
  box-shadow: var(--light-crest), var(--dark-crest), var(--atmosphere);
}
.planet-wrap--earth .planet__surface {
  background-image: var(--earth-image);
  transform: var(--earth-tilt) scale(1.2);
  animation: planetRotate calc(var(--earth-day) * 0.1s) linear infinite;
}
.planet-wrap--earth .card__planet::before {
  transform: var(--earth-tilt) scale(1.2);
  border-color: var(--earth-color);
  color: var(--earth-color);
}
.planet-wrap--earth .tilt__icon {
  transform: var(--earth-tilt);
  color: var(--earth-color);
}
.planet-wrap--moon .planet__atmosphere {
  --light-crest: inset calc(var(--planet-size) * 0.05) 0px calc(var(--planet-size) * 0.06) -2px rgba(255,255,255,.4);
  --dark-crest: inset calc(var(--planet-size) * -0.40) 0px calc(var(--planet-size) * 0.25) 0px black;
  --atmosphere: -5px 0px 10px -4px var(--moon-color);
  box-shadow: var(--light-crest), var(--dark-crest), var(--atmosphere);
}
.planet-wrap--moon .planet__surface {
  background-image: var(--moon-image);
  transform: var(--moon-tilt) scale(1.2);
  animation: planetRotate calc(var(--moon-day) * 0.1s) linear infinite;
}
.planet-wrap--moon .card__planet::before {
  transform: var(--moon-tilt) scale(1.2);
  border-color: var(--moon-color);
  color: var(--moon-color);
}
.planet-wrap--moon .tilt__icon {
  transform: var(--moon-tilt);
  color: var(--moon-color);
}
.planet-wrap--mars .planet__atmosphere {
  --light-crest: inset calc(var(--planet-size) * 0.05) 0px calc(var(--planet-size) * 0.06) -2px rgba(255,255,255,.4);
  --dark-crest: inset calc(var(--planet-size) * -0.40) 0px calc(var(--planet-size) * 0.25) 0px black;
  --atmosphere: -5px 0px 10px -4px var(--mars-color);
  box-shadow: var(--light-crest), var(--dark-crest), var(--atmosphere);
}
.planet-wrap--mars .planet__surface {
  background-image: var(--mars-image);
  transform: var(--mars-tilt) scale(1.2);
  animation: planetRotate calc(var(--mars-day) * 0.1s) linear infinite;
}
.planet-wrap--mars .card__planet::before {
  transform: var(--mars-tilt) scale(1.2);
  border-color: var(--mars-color);
  color: var(--mars-color);
}
.planet-wrap--mars .tilt__icon {
  transform: var(--mars-tilt);
  color: var(--mars-color);
}

.k-item .planet-wrap {
  margin-right: 1rem;
}

.planet-wrap__planet::before {
  content: "";
  position: absolute;
  height: var(--planet-size);
  z-index: -2;
  left: 50%;
  top: 0%;
}

.planet__atmosphere {
  height: var(--planet-size);
  width: var(--planet-size);
  position: relative;
  background: radial-gradient(circle at 30% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 65%);
  border-radius: 100px;
  overflow: hidden;
}
.planet__surface {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  :root {
    --planet-size: 100px;
  }
}
