  <div class="author row">
    <div class="author__content">
      <div class="author__pic col-sm-2">
        <img src="{{ site.baseurl }}/img/ed-avatar.jpg" alt="Ed Charbeneau">
      </div>
      <div class="author__bio col-sm-10">
        <h3>
          Ed Charbeneau
        </h3>
        <p>
          I'm Ed Charbeneau, web enthusiast, speaker, writer, design admirer, and Developer Advocate for Progress.
        </p>
        <a href="https://twitter.com/edcharbeneau" class="twitter-follow-button" data-show-count="true"></a>
      </div>
    </div>
  </div>