<footer class="footer">
  <div class="wrapper">
    <div class="footer__copyright">
      &copy; {{ site.time | date: '%Y' }} - Ed Charbeneau
    </div>
    <div class="footer__links">
      <ul>
        <li>
          <a href="//twitter.com/edcharbeneau" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/twitter.svg" alt="Todd Motto on Twitter">
          </a>
        </li>
        <li>
          <a href="//github.com/edcharbeneau" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/github.svg" alt="Todd Motto on GitHub">
          </a>
        </li>
        <!--<li>
          <a href="//youtube.com/edcharbeneau" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/youtube.svg" alt="Todd Motto on YouTube">
          </a>-->
        </li>
      </ul>
    </div>
  </div>
</footer>
<script>
  <!-- GA Script here -->
</script>
