<div class="container-fluid">
  <footer class="row  no-gutter">
    <div class="col-sm-8">
      <nav class="footer-nav">
        <ul>
          <li><a href="/">Posts</a></li>
          <li><a href="/speaking.html">Speaking</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="http://developer.telerik.com/author/echarbeneau/">Work</a></li>
          <li><a rel="me" href="https://fosstodon.org/@edcharbeneau">Mastodon</a>
        </ul>
      </nav>
    </div>
    <div class="col-sm-4">
      <div class="copyright">
        <p>Copyright 2019</p>
      </div>
    </div>
  </footer>
</div>
