<header class="header">
  <div class="header__img">
    <a href="/">
      <img src="{{ site.baseurl }}/img/ed-avatar.jpg" alt="Ed Charbeneau">
    </a>
  </div>
  <div class="header__bio">
    <p>
      I'm Ed Charbeneau, web enthusiast, speaker, writer, design admirer, and Developer Advocate for Progress.
    </p>
    <a href="https://twitter.com/edcharbeneau" class="twitter-follow-button" data-show-count="true"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</header>
<nav class="nav">
  <ul>
    <li>
      <a href="/">Posts</a>
    </li>
    <li>
      <a href="/about.html">
        About
      </a>
    </li>
    <li>
      <a href="/speaking.html">
        Speaking
      </a>
    </li>
  </ul>
</nav>