<h3>Upcoming Events</h3>
<ul class="schedule future"></ul>

<h3>Past Events</h3>
<ul class="schedule past"></ul>



<script src="/javascript/session-list.js"></script>
<script>
    
    const jsonData = {{site.data.schedule | jsonify}};

    document.querySelector('.past').innerHTML = mapScheduleToTemplate(jsonData,
         templateLiteral, ev => new Date(ev.date) < new Date());

    document.querySelector('.future').innerHTML = mapScheduleToTemplate(jsonData,
         templateLiteral, ev => new Date(ev.date) > new Date());

</script>