.btn {
    border-width: .1rem;
    background-color: transparent;
    transition: all 0.2s;
    color: $brand-primary;
    padding: 1rem 2rem;
    border-radius: .25rem;
    &:hover {
        background-color: $brand-primary;
        transition: all 0.2s;    
    }

    &.btn-secondary {
        border-color: $gray-lightest;
        background-color: transparent;
        color: $gray-lightest;
        &:hover {
            color: $gray-dark;
            background-color: $gray-lightest;
        }
    }

    &.btn-info {
        border-color: $brand-info;
        color: $brand-info;
        &:hover {
            background-color: $brand-info;
            color: $gray-lightest;
        }

        &--inverted {
            background-color: $brand-info;
            color: $gray-lightest;
            border-color: $brand-info;

            &:hover {
                background-color: $gray-lightest;
                color: $brand-info;
            }
        }
    }

    &.btn-danger {
        border-color: $brand-danger;
        color: $brand-danger;
        &:hover {
            background-color: $brand-danger;
            color: $gray-lightest;
        }

        &--inverted {
            background-color: $brand-danger;
            color: $gray-lightest;
            border-color: $brand-danger;

            &:hover {
                background-color: $gray-lightest;
                color: $brand-danger;
            }
        }
    }
}