.btn {
    border-width: .1rem;
    background-color: transparent;
    transition: all 0.2s;
    color: $brand-primary;
    padding: 1rem 2rem;
    border-radius: .25rem;
    &:hover {
        background-color: $brand-primary;
        transition: all 0.2s;    
    }

    &.btn-secondary {
        border-color: $gray-lightest;
        background-color: transparent;
        color: $gray-lightest;
        &:hover {
            color: $gray-dark;
            background-color: $gray-lightest;
        }
    }
}