.footer-nav {
    background-color: $brand-info;
    height:10rem;
    border-radius: 0 1rem  0 0;
    margin-top: 4rem;
    padding-top: 2rem;
}

.copyright {
    background: $gray;
    height: 4rem;
    margin-top: 10rem;
    padding: 1.2rem;
    color: $gray-lightest;
    text-align: center;
}