
.site-header {
    nav {
        padding:0;
        margin-bottom:-15px;
        z-index: 99999;

        @include media-breakpoint-up(md) {
            margin-bottom:-55px;
        }
    }
}

.site-nav {
    ul {
        list-style: none;
        margin:0;
        padding:0 0 0 1rem;
        text-transform: uppercase;
        overflow:hidden;

        @include media-breakpoint-up(md) {
            padding:0 0 0 3rem;        
        }

        li {
            float: left;
            a {
                display: block;
                color: white;
                text-align: center;
                padding: .5rem 1rem;
                text-decoration: none;
                border-radius: .25rem;
                
                &:hover {
                    background-color: $gray-lightest;
                    color: $brand-info;
                }
            }
        }
    }
}

.site-nav {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    height: 100%;
    border-radius: 0 0 0 1rem;
    background-color: $brand-primary;
    @include media-breakpoint-up(lg) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;    
    }

}

.logo-area {
    clear:both;
    background-color: $gray-dark;
    padding:1em;

    h1 {
        color: $brand-info;
        float:none;
        text-align:center;
        margin:2px;
        font-size:1em;
        
        @include media-breakpoint-up(md) {
            font-size: 2em;
            margin:10px;
            float:left;
        }
    }
    a {
        color: $brand-info;
        transition: all .2s;
        &:hover {
            text-decoration: none;
            color: darken($color: $brand-info, $amount: 20)
        }
    }

}

